In [1]:
# Import modules

import numpy as np
import pandas as pd
import os

In [2]:
# Read the data

data = pd.read_csv("/Users/ioanahancu/Desktop/purchase_data.csv")

In [3]:
# View the data

data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player count(Total)

player_info = data.loc[:, ["Gender", "SN", "Age"]]
player_info.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [5]:
total_players = player_info.count()[0]
total_players

780

In [6]:
# Check if there are duplicates

player_info = player_info.drop_duplicates()

In [7]:
# Final number of total players
final_total_players = player_info.count()[0]
final_total_players

576

In [8]:
# Save output as a dataframe:

final_total_players=pd.DataFrame({"Total Players": [final_total_players]})
final_total_players

   Total Players
0            576

In [9]:
# Purchasing analysis (Total)

unique_item_count = len(data["Item ID"].unique())
average_item_price = data["Price"].mean()
total_revenue = data["Price"].sum()
purchase_count = data["Price"].count()

# Create a DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": unique_item_count,
                              "Average Purchase Price($)": [average_item_price],
                                "Number of Purchases": [purchase_count],
                                 "Total Revenue($)":[total_revenue]})
summary_table

,Number of Unique Items,Average Purchase Price($),Number of Purchases,Total Revenue($)
0,179,3.050987,780,2379.77

In [11]:
# Gender demographics

gender_demographics_totals = player_info["Gender"].value_counts()
gender_demographics_totals
gender_demographics_percents = gender_demographics_totals / 576 * 100
gender_demographics_percents


# Save output as a dataframe
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})
gender_demographics = gender_demographics.round(2)
gender_demographics

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [22]:
# Purchasing Analysis (Gender)

gender_counts = data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_counts
gender_average = data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_average
gender_purchase_total = data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Price")
gender_purchase_total

# Calculate normalized Purchasing
average_purchase_total_per_person_gender = gender_purchase_total / gender_demographics["Total Count"]
average_purchase_total_per_person_gender

# Save output as dataframe
gender_data = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Purchase Price($)": gender_average,
                            "Total Purchase Price($)": gender_purchase_total, 
                            "Purchase Total per Person by Gender($)": average_purchase_total_per_person_gender})

gender_data

,Purchase Count,Average Purchase Price($),Total Purchase Price($),Purchase Total per Person by Gender($)
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727